## Baseline Model

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.tokenize import word_tokenize, RegexpTokenizer
import emoji
from cleantext import clean

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay

sns.set_theme

In [2]:
train_df = pd.read_csv('./datasets/combined_precleaned.csv')
train_df.head()

,Unnamed: 0,subreddit,selftext,title,created_utc
0,0,0,Does anybody know any questions that they’ll a...,I have an interview tomorrow,1661993255
1,1,0,NaN,What makes the nitro cold brew different from ...,1661988458
2,2,0,[removed],QR Dunkin’ drink code in store scan ?,1661986477
3,3,0,After sweating on the sales floor all day at m...,I feel your pain,1661978897
4,4,0,Somebody ordered a medium ice decaf with an es...,what is the point????,1661973966

In [3]:
train_df.drop(columns=['Unnamed: 0'], inplace = True)
train_df.head()

,subreddit,selftext,title,created_utc
0,0,Does anybody know any questions that they’ll a...,I have an interview tomorrow,1661993255
1,0,NaN,What makes the nitro cold brew different from ...,1661988458
2,0,[removed],QR Dunkin’ drink code in store scan ?,1661986477
3,0,After sweating on the sales floor all day at m...,I feel your pain,1661978897
4,0,Somebody ordered a medium ice decaf with an es...,what is the point????,1661973966

In [4]:
train_df.tail()

,subreddit,selftext,title,created_utc
4993,1,thoughts on giving decaf to jerks? rude ass cu...,decaffeinating assholes,1660007527
4994,1,"I am….. also a human being, you know.",Thinking about that time a customer said “bett...,1660005551
4995,1,"Not sure if anyone has read the fall ppk yet, ...",Fall PPK,1660004875
4996,1,So a few days ago my manager talked to me abou...,Will I get fired?,1660004227
4997,1,[removed],How to Put in Two Weeks? / Rant,1660003842

In [5]:
X = train_df[['title']]
y = train_df['subreddit']

In [6]:
# Check what we need to check in a classification problem. - distribution of classes in `y` for choosing appropriate metrics
y.value_counts(normalize = True)

1    0.5002
0    0.4998
Name: subreddit, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split, GridSearchCV # split our data and run hyperparameter search

In [8]:
# Split the data into the training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.25,
                                                    stratify=y,
                                                    random_state=42)

In [9]:
y_test.value_counts(normalize=True)

0    0.5
1    0.5
Name: subreddit, dtype: float64

In [10]:
# Instantiate our CountVectorizer. We'll just remove stopwords and stop with top 500 features (ordered by term frequency across the corpus)
cvec = CountVectorizer(max_features = 500, stop_words = 'english') # check hyperparameter

In [11]:
# should use pipeline here, below is for illustration only
# Fit-transform our CountVectorizer on the training data and transform testing data.
X_train_cvec = cvec.fit_transform(X_train['title'])
X_test_cvec = cvec.transform(X_test['title'])

In [12]:
X_train_cvec

<3748x500 sparse matrix of type '<class 'numpy.int64'>'
	with 11417 stored elements in Compressed Sparse Row format>

### Fit Naive Bayes model

In [13]:
# Instantiate our model!
nb = MultinomialNB()

In [14]:
# Fit our model!
model = nb.fit(X_train_cvec, y_train)

In [15]:
# Generate our predictions!
predictions = model.predict(X_test_cvec)

In [16]:
# Score our model on the training set.
model.score(X_train_cvec, y_train)

0.7966915688367129

In [17]:
# Score our model on the testing set.
model.score(X_test_cvec, y_test)

0.7528